<a href="https://colab.research.google.com/github/nguyenphucloc22/test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1= input("Nhap vao so thu 1:")
value2= input("Nhap vao so thu 2:")

Nhap vao so thu 1:7
Nhap vao so thu 2:3

In [ ]:
value1 + value2

'73'

In [ ]:
# write to file
with open ("text.txt",mode = "w") as accounts:
  accounts.write("19104022 Nguyen phuc loc 10\n")
  accounts.write("19104023 Le Thanh Dat 6\n")

In [ ]:
print("19104022 Nguyen phuc loc 10",file = accounts)

ValueError: ignored

In [ ]:
print('19104022 Nguyen phuc loc 10',file = accounts)

ValueError: ignored

In [ ]:
with open('text.txt',mode = 'r') as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    MSSV,Name,Score = record.split()
    print(f"{"MSSV":<10}{"Name":<20}{"Score":>2}")

SyntaxError: ignored

In [ ]:
import pandas as pd
Url="DSSV.csv"
dataframe= pd.read_csv(Url)
dataframe.head(10)
dataframe.iloc[:10]

   STT      MSSV        Họ và tên                Khoa  Điểm
0    1  19104011   Nguyễn Thị Hoa  Cơ khí chế tạo máy   6.0
1    2  19104012       Lê Anh Thư  Cơ khí chế tạo máy   7.0
2    3  19104013  Nguyễn Trần Nam     Cơ khí động lực   8.0
3    4  19104014    Bùi Quang Huy          Thời trang   8.0
4    5  20104015     Lê Minh Mạnh          Thời trang   5.0
5    6  21104016      Trần Văn An          Thời trang   9.0
6    7  20104017    Hoàng Lê Minh          Thời trang  10.0
7    8  20104018  Nguyễn Thị Lan   Cơ khí chế tạo máy   6.5
8    9  21104019   Bùi Mai Phương  Cơ khí chế tạo máy   7.8
9   10  18104020  Nguyễn Phúc Lộc  Cơ khí chế tạo máy   8.5

In [ ]:
dataframe= dataframe.set_index(dataframe["Họ và tên"])
dataframe.loc["Lê Minh Mạnh"]

STT                     5
MSSV             20104015
Họ và tên    Lê Minh Mạnh
Khoa           Thời trang
Điểm                  5.0
Name: Lê Minh Mạnh, dtype: object

In [ ]:
dataframe[dataframe["Khoa"]=="Thời trang"].head(10)

               STT      MSSV      Họ và tên        Khoa  Điểm
Họ và tên
Bùi Quang Huy    4  19104014  Bùi Quang Huy  Thời trang   8.0
Lê Minh Mạnh     5  20104015   Lê Minh Mạnh  Thời trang   5.0
Trần Văn An      6  21104016    Trần Văn An  Thời trang   9.0
Hoàng Lê Minh    7  20104017  Hoàng Lê Minh  Thời trang  10.0

In [ ]:
dataframe[(dataframe["Khoa"]=="Thời trang")&(dataframe["Họ và tên"]=="Lê Minh Mạnh")]

              STT      MSSV     Họ và tên        Khoa  Điểm
Họ và tên
Lê Minh Mạnh    5  20104015  Lê Minh Mạnh  Thời trang   5.0

In [ ]:
dataframe["Khoa"].replace("Thời Trang","Cơ khí máy").head(10)

Họ và tên
Nguyễn Thị Hoa     Cơ khí chế tạo máy
Lê Anh Thư         Cơ khí chế tạo máy
Nguyễn Trần Nam       Cơ khí động lực
Bùi Quang Huy              Thời trang
Lê Minh Mạnh               Thời trang
Trần Văn An                Thời trang
Hoàng Lê Minh              Thời trang
Nguyễn Thị Lan     Cơ khí chế tạo máy
Bùi Mai Phương     Cơ khí chế tạo máy
Nguyễn Phúc Lộc    Cơ khí chế tạo máy
Name: Khoa, dtype: object

In [ ]:
dataframe.replace("Thời trang","Cơ khí máy").head(3)

                 STT      MSSV        Họ và tên                Khoa  Điểm
Họ và tên
Nguyễn Thị Hoa     1  19104011   Nguyễn Thị Hoa  Cơ khí chế tạo máy   6.0
Lê Anh Thư         2  19104012       Lê Anh Thư  Cơ khí chế tạo máy   7.0
Nguyễn Trần Nam    3  19104013  Nguyễn Trần Nam     Cơ khí động lực   8.0

In [ ]:
print("Điểm cao nhất:",dataframe["Điểm"].max())

Điểm cao nhất: 10.0

In [ ]:
print("Điểm TB:",dataframe["Điểm"].mean())

Điểm TB: 7.6499999999999995

In [ ]:
dataframe["Họ và tên"].unique()

array(['Nguyễn Thị Hoa', 'Lê Anh Thư', 'Nguyễn Trần Nam', 'Bùi Quang Huy',
       'Lê Minh Mạnh', 'Trần Văn An', 'Hoàng Lê Minh', 'Nguyễn Thị Lan ',
       'Bùi Mai Phương', 'Nguyễn Phúc Lộc', 'Nguyễn Lê Minh Nam',
       'Nguyễn Văn Sơn'], dtype=object)

In [ ]:
dataframe["Khoa"].value_counts

<bound method IndexOpsMixin.value_counts of Họ và tên
Nguyễn Thị Hoa        Cơ khí chế tạo máy
Lê Anh Thư            Cơ khí chế tạo máy
Nguyễn Trần Nam          Cơ khí động lực
Bùi Quang Huy                 Thời trang
Lê Minh Mạnh                  Thời trang
Trần Văn An                   Thời trang
Hoàng Lê Minh                 Thời trang
Nguyễn Thị Lan        Cơ khí chế tạo máy
Bùi Mai Phương        Cơ khí chế tạo máy
Nguyễn Phúc Lộc       Cơ khí chế tạo máy
Nguyễn Lê Minh Nam    Cơ khí chế tạo máy
Nguyễn Văn Sơn        Cơ khí chế tạo máy
Name: Khoa, dtype: object>

In [ ]:
dataframe.drop("MSSV",axis=1).head(3)

                 STT        Họ và tên                Khoa  Điểm
Họ và tên
Nguyễn Thị Hoa     1   Nguyễn Thị Hoa  Cơ khí chế tạo máy   6.0
Lê Anh Thư         2       Lê Anh Thư  Cơ khí chế tạo máy   7.0
Nguyễn Trần Nam    3  Nguyễn Trần Nam     Cơ khí động lực   8.0

In [ ]:
dataframe.drop(["MSSV","Khoa"],axis=1).head(3)

                 STT        Họ và tên  Điểm
Họ và tên
Nguyễn Thị Hoa     1   Nguyễn Thị Hoa   6.0
Lê Anh Thư         2       Lê Anh Thư   7.0
Nguyễn Trần Nam    3  Nguyễn Trần Nam   8.0

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis=1).head(3)

                 STT      MSSV  Điểm
Họ và tên
Nguyễn Thị Hoa     1  19104011   6.0
Lê Anh Thư         2  19104012   7.0
Nguyễn Trần Nam    3  19104013   8.0

In [ ]:
dataframe[dataframe["Khoa"]!="Thời trang"].head(10)

,STT,MSSV,Họ và tên,Khoa,Điểm
Họ và tên,,,,,
Nguyễn Thị Hoa,1,19104011,Nguyễn Thị Hoa,Cơ khí chế tạo máy,6.0
Lê Anh Thư,2,19104012,Lê Anh Thư,Cơ khí chế tạo máy,7.0
Nguyễn Trần Nam,3,19104013,Nguyễn Trần Nam,Cơ khí động lực,8.0
Nguyễn Thị Lan,8,20104018,Nguyễn Thị Lan,Cơ khí chế tạo máy,6.5
Bùi Mai Phương,9,21104019,Bùi Mai Phương,Cơ khí chế tạo máy,7.8
Nguyễn Phúc Lộc,10,18104020,Nguyễn Phúc Lộc,Cơ khí chế tạo máy,8.5
Nguyễn Lê Minh Nam,11,19104021,Nguyễn Lê Minh Nam,Cơ khí chế tạo máy,9.0
Nguyễn Văn Sơn,12,19104022,Nguyễn Văn Sơn,Cơ khí chế tạo máy,7.0

In [ ]:
dataframe[dataframe.index!=4].head(10)

                 STT      MSSV        Họ và tên                Khoa  Điểm
Họ và tên
Nguyễn Thị Hoa     1  19104011   Nguyễn Thị Hoa  Cơ khí chế tạo máy   6.0
Lê Anh Thư         2  19104012       Lê Anh Thư  Cơ khí chế tạo máy   7.0
Nguyễn Trần Nam    3  19104013  Nguyễn Trần Nam     Cơ khí động lực   8.0
Bùi Quang Huy      4  19104014    Bùi Quang Huy          Thời trang   8.0
Lê Minh Mạnh       5  20104015     Lê Minh Mạnh          Thời trang   5.0
Trần Văn An        6  21104016      Trần Văn An          Thời trang   9.0
Hoàng Lê Minh      7  20104017    Hoàng Lê Minh          Thời trang  10.0
Nguyễn Thị Lan     8  20104018  Nguyễn Thị Lan   Cơ khí chế tạo máy   6.5
Bùi Mai Phương     9  21104019   Bùi Mai Phương  Cơ khí chế tạo máy   7.8
Nguyễn Phúc Lộc   10  18104020  Nguyễn Phúc Lộc  Cơ khí chế tạo máy   8.5

In [ ]:
dataframe.drop_duplicates().head(10)

                 STT      MSSV        Họ và tên                Khoa  Điểm
Họ và tên
Nguyễn Thị Hoa     1  19104011   Nguyễn Thị Hoa  Cơ khí chế tạo máy   6.0
Lê Anh Thư         2  19104012       Lê Anh Thư  Cơ khí chế tạo máy   7.0
Nguyễn Trần Nam    3  19104013  Nguyễn Trần Nam     Cơ khí động lực   8.0
Bùi Quang Huy      4  19104014    Bùi Quang Huy          Thời trang   8.0
Lê Minh Mạnh       5  20104015     Lê Minh Mạnh          Thời trang   5.0
Trần Văn An        6  21104016      Trần Văn An          Thời trang   9.0
Hoàng Lê Minh      7  20104017    Hoàng Lê Minh          Thời trang  10.0
Nguyễn Thị Lan     8  20104018  Nguyễn Thị Lan   Cơ khí chế tạo máy   6.5
Bùi Mai Phương     9  21104019   Bùi Mai Phương  Cơ khí chế tạo máy   7.8
Nguyễn Phúc Lộc   10  18104020  Nguyễn Phúc Lộc  Cơ khí chế tạo máy   8.5

In [ ]:
dataframe.groupby("Khoa").count()

                    STT  MSSV  Họ và tên  Điểm
Khoa
Cơ khí chế tạo máy    7     7          7     7
Cơ khí động lực       1     1          1     1
Thời trang            4     4          4     4

In [ ]:
dataframe.groupby(["Khoa","Điểm"]).count()

                         STT  MSSV  Họ và tên
Khoa               Điểm
Cơ khí chế tạo máy 6.0     1     1          1
                   6.5     1     1          1
                   7.0     2     2          2
                   7.8     1     1          1
                   8.5     1     1          1
                   9.0     1     1          1
Cơ khí động lực    8.0     1     1          1
Thời trang         5.0     1     1          1
                   8.0     1     1          1
                   9.0     1     1          1
                   10.0    1     1          1

In [ ]:
import pandas as pd
import numpy as np
time_index=pd.date_range("01/01/2023",periods=100000,freq="30s")
dataframe=pd.DataFrame(index=time_index)
dataframe["Acess_Amount"]=np.random.randint(1,10,100000)
dataframe.resample("W").sum()

            Acess_Amount
2023-01-01         14482
2023-01-08        100442
2023-01-15        101172
2023-01-22        100839
2023-01-29        100560
2023-02-05         82036

In [5]:
import pandas as pd
url="http://winterolympicsmedals.com/medals.csv"
data=pd.read_csv(url)
data.head(30)
#Tìm số HCV của một nước
#Tìm số huy chương vàng theo môn thi cá nhân

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver

In [9]:
print("So luong huy chuong vang cua CAN la:", len(data[(data['Medal']=='Gold')&(data['NOC']=='CAN')]))
print("So luong huy chuong vang theo mon thi ca nhan la:", len(data[(data['Medal']=='Gold')&(data['Event']=='individual')]))

So luong huy chuong vang cua CAN la: 38
So luong huy chuong vang theo mon thi ca nhan la: 65